@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Writing Recognizer</h2>
        <p>
            This is a sample for using Azure Queue Storage to send an image to a service that can process it<br />
            The service at the end checks the image for hand writing and spits it out to its console. It doesnt send it back yet.
        </p>

        <form method="post" enctype="multipart/form-data" action="/UploadFiles">
            <div>
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>

    </div>
    
</div>
