<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings file="app.secrets.config">
    <add key="queueName" value="demoqueue" />
    <add key="expirationqueue" value="expirationqueue" />

    
    <!-- These are keys that should be in the secrets file
    
<add key="asbcs" value=""connection string from azure portal" />

-->
  </appSettings>
  
</configuration>